<<<<<<< HEAD
.master {
  display: flex;
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 20;
  animation: fadeIn 1s;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
=======
.container {
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 25%;
  position: fixed;
  z-index: 20;
>>>>>>> master
}

.topContainer {
  position: relative;
  display: flex;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: black;
  opacity: 0.8;
  position: relative;
  bottom: 3.3em;
}

.descName {
  display: flex;
  flex-grow: 2;
}
.date {
<<<<<<< HEAD
  color: white;
=======
  color: pink;
>>>>>>> master
}
.profileImage {
  object-fit: cover;
  width: 40px;
  height: 40px;
<<<<<<< HEAD
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
=======
>>>>>>> master
}

.image {
  height: 100%;
  width: 100%;
}
.prev, .next{
  height: 100%;
<<<<<<< HEAD
  width: 60px;
  position: absolute;
  background-color: black;
  opacity: 0.8;
  display: flex;
  align-items: center;

}

/* .cancel {
=======
  position: absolute;
  background-color: black;
  color: orange;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.cancel {
>>>>>>> master
  position: absolute;
  margin-right: 15px;
  right: 0%;
  color: white;
  z-index: 10;
  text-align: center;
<<<<<<< HEAD
  justify-content: center;
} */

.cancel {
  position: absolute;
  top: 0px;
  color: white;
  z-index: 10;
  align-self: center;
=======
>>>>>>> master
}

.prev {
  left: 0%;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: center;
=======
>>>>>>> master
}

.next {
  right: 0%;
<<<<<<< HEAD
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.nextItem, .prevItem{
  display: block;
  /* background-color: green; */
  height: 62px;
  width:70%;
  background-image : url(https://cdn-assets.alltrails.com/assets/buttons/controls-a037f220640756d8737007f50af493bf.png);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

}

.nextItem{
  background-position-x:40px;
  background-position-y:0px;
}

.prevItem{
  background-position-x:0px;
  background-position-y:0px;
}
=======
}
>>>>>>> master
